.project-form-container {
    background: #312B2B;
    width: 100%;
    height: 100%;
}

.header {
    background: #534C59;
    padding: 10px 20px;
}

.header p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

button {
    outline: none;
    padding: none;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
}