<div class="projects-content">
  <div class="myproject-header">
    <ion-text>My Projects</ion-text>
  </div>
  <div class="myproject-list">
    <p class="no-project" *ngIf="myprojects.length == 0">No projects to show.</p>
    <div class="myproject" *ngFor="let project of myprojects">
      <ion-text class="title">{{project.title}}</ion-text>
      <div class="buttons">
        <button>View Details</button>
        <button>Members</button> 
      </div>
    </div>
  </div>
  <div class="communityproject-header">
    <ion-text>Community Projects</ion-text>
  </div>
  <p class="no-comm-project" *ngIf="communityProjects.length == 0">No projects to show.</p>
  <div class="communityproject-list" *ngIf="communityProjects.length > 0">
    <div class="communityproject" >
      <ion-text class="title">Zero Garbage 2022</ion-text>
      <div class="buttons">
        <button>View Details</button>
        <button>Join</button>
      </div>
    </div>
  </div>
</div>
