<div class="projects-content">
  <div class="myproject-header">
    <ion-text>My Projects</ion-text>
  </div>
  <div class="myproject-list">
    <div class="myproject">
      <ion-text class="title">Zero Garbage 2022</ion-text>
      <div class="buttons">
        <button>View Details</button>
        <button>Members</button>
      </div>
    </div>
  </div>
  <div class="communityproject-header">
    <ion-text>Community Projects</ion-text>
  </div>
  <div class="communityproject-list">
    <div class="communityproject">
      <ion-text class="title">Zero Garbage 2022</ion-text>
      <div class="buttons">
        <button>View Details</button>
        <button>Join</button>
      </div>
    </div>
  </div>
</div>
